
@{
    ViewBag.Title = "Stocks Entry Page";
}

<div class="row">
    <div class="col-md-10 pt-3">

        @*<tr>
            <td colspan="2" class="text-right">Ctrl No.:</td>
            <td>
                <input type="text" name="CtrlNumber" value="" />
            </td>
        </tr>*@
        <div style="width:100%; height:2em">
            <input class="btn-success" type="submit" value="Edit" style="float:right; margin-right:2px">
            <input class="btn-danger" type="submit" value="Discard" style="float:right; margin-right:2px">
            <input class="btn-warning" type="submit" value="Save" style="float:right; margin-right:2px">
            @*<input class="ui-button" type="submit" value="Save" style="float:left">*@
        </div>
        @*<button class="btn-danger" style="margin-left:auto">DISCARD</button>
        <button class="btn-warning" style="margin-left:auto">EDIT</button>*@

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tds-tab" data-toggle="tab" href="#tds" role="tab" aria-controls="tds" aria-selected="true">Tools Delivered On Site</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mds-tab" data-toggle="tab" href="#mds" role="tab" aria-controls="mds" aria-selected="false">Materials Delivered On Site</a>
            </li>
        </ul>


        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="tds" role="tabpanel" aria-labelledby="tds-tab">
                @Html.Action("FormView", "Form", new { pageName = "ItemDelivered", itemType = "tools" })

            </div>
            <div class="tab-pane fade" id="mds" role="tabpanel" aria-labelledby="mds-tab">
                @Html.Action("FormView", "Form", new { pageName = "ItemDelivered", itemType = "materials" })

            </div>
        </div>
    </div>
    <div class="col-md-2 text-center" style="border: 1px solid; padding-top: 20px">
        <small>Panel</small>
    </div>

</div>


@section Scripts{

    <script>
        $(function () {

            $.ajaxSetup({
                async: false
            });

            //FOR PROJECTS
            var projects = [];

            var projectURL = 'http://124.105.198.3:82/api/v1/dssprojects/1/1000/0';

            $.getJSON(projectURL, function (data) {

                var dat = data.Data;

                for (var i = 0; i < dat.length; i++) {
                    //console.log(dat[i]);

                    var newObj = {};

                    newObj.id = dat[i].ID;
                    newObj.value = dat[i].ProjectName;
                    newObj.label = dat[i].ProjectNumber + ' - ' + dat[i].ProjectName;
                    newObj.projectNo = dat[i].ProjectNumber;

                    projects.push(newObj);
                }

            });

            $(".projectName").autocomplete({
                source: projects,
                select: function (event, ui) {

                    var $this = $(this);

                    //console.log(ui.item.id);
                    $this.parents('td').find('input.projectID').val(ui.item.id);
                    $this.parents('table').find('input.projectNumber').val(ui.item.projectNo);
                }
            });

            console.log("test");
            //FOR Region
            var Regions = [];

            var RegionURL = 'https://raw.githubusercontent.com/clavearnel/philippines-region-province-citymun-brgy/master/json/refregion.json';
            
            $.getJSON(RegionURL, function (data) {

                var dat = data.RECORDS;
                console.log(data);
                for (var x = 0; x < dat.length; x++) {
                    //console.log(dat[i]);

                    var newObj = {};

                    newObj.id = dat[x].ID;
                    newObj.value = dat[x].regDesc;
                    //newObj.label = dat[i].ProjectNumber + ' - ' + dat[i].ProjectName;
                    //newObj.label = dat[i].RegionNumber;

                    Regions.push(newObj); console.log(Regions)

                }

            });
            
            $(".regionName").autocomplete({
                source: Regions,
                select: function (event, ui) {

                    var $this = $(this);

                    //console.log(ui.istem.id);
                    $this.parents('td').find('input.regionID').val(ui.item.id);
                    //$this.parents('table').find('input.regionName').val(ui.item.value);
                }
            });



            //FOR ITEMS
            var items = [];

            var itemURL = 'http://192.168.1.100:89/api/values';

            $.getJSON(itemURL, function (data) {


                for (var i = 0; i < data.length; i++) {

                    var newObj = {};

                    newObj.id = data[i].ID;
                    newObj.value = data[i].Name;
                    newObj.label = data[i].Name;

                    items.push(newObj);

                }


            });

            //console.log(items);

            $('body').on('click', '.items', function () {

                $(this).autocomplete({
                    source: items,
                    select: function (event, ui) {

                        var $this = $(this);

                        // console.log(ui.item.id);

                        $this.parents('td').find('input.ItemID').val(ui.item.id);
                    }
                });

            });

        });

        $.ajaxSetup({
            async: true
        });
    </script>

}
